{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],
  "rules": {
    "prettier/prettier": ["error",{
      "endOfLine": "auto"}
    ]
  }
}